@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.PartnersSection)Model.Content;
}

<section class="py-[13rem] bg-neutral pb-0">
    <div class="container max-w-[1100px] mx-auto flex justify-center items-center gap-16 flex-wrap pb-8">

        @if (content.PartnerLogo1 != null)
        {
            <img src="@content.PartnerLogo1.Url()" class="max-w-[120px]" />
        }
        @if (content.PartnerLogo2 != null)
        {
            <img src="@content.PartnerLogo2.Url()" class="max-w-[120px]" />
        }
        @if (content.PartnerLogo3 != null)
        {
            <img src="@content.PartnerLogo3.Url()" class="max-w-[120px]" />
        }
        @if (content.PartnerLogo4 != null)
        {
            <img src="@content.PartnerLogo4.Url()" class="max-w-[120px]" />
        }
        @if (content.PartnerLogo5 != null)
        {
            <img src="@content.PartnerLogo5.Url()" class="max-w-[120px]" />
        }
        @if (content.PartnerLogo6 != null)
        {
            <img src="@content.PartnerLogo6.Url()" class="max-w-[120px]" />
        }

    </div>
</section>
