@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.StorySection)Model.Content;
} 

<section class="py-[5rem] bg-neutral pb-0 relative overflow-visible">
    @if (content.StoryBackgroundImage2 != null)
    {
        <img src="@content.StoryBackgroundImage2.Url()"
             class="absolute inset-x-0 top-35 mx-auto max-w-5xl w-full object-contain z-0" />
    }

    <div class="container mx-auto px-4 flex flex-col items-center">
        <div class="max-w-2xl text-center relative z-20">
            <div class="rte">@Html.Raw(content.StoryText)</div>
            <div class="pt-5">
                @if (content.StoryLink != null)
                {
                    <a class="bg-primary text-white py-3 px-10 no-underline rounded cursor-pointer font-bold relative z-20" href="@content.StoryLink.Url">@content.StoryLink.Name</a>
                }
            </div>
        </div>
        <div class="relative w-full mt-16 h-[450px]">


            @if (content.StoryBackgroundImage1 != null)
            {
                <img src="@content.StoryBackgroundImage1.Url()"
                     class="absolute left-1/2 -translate-x-1/2 bottom-0 max-w-6xl w-full object-contain z-10" />
            }
        </div>
    </div>
</section>